@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
}

body{
    background: url("../imagens/fundo.jpg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 80vh;
    position: relative;
}

section#pc {
    position: absolute;
    top: 50vh;
    left: 50vh;
    transform: translate(-50%,-50%);
    height: 685px;
    width: 1000px;
    background: url("../imagens/pc.png") no-repeat left center;
}

iframe#tela{
    position: relative;
    top: 43px;
    left: 62.5px;
    width: 685.5px;
    height: 385px;
}

section#redes{
    text-align: right;
}

section#redes img {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.774);
    box-sizing: border-box;
    
}

section#redes img:hover{
    border: 2px solid rgba(255, 255, 255, 0);
    transform: translate(-4px,-4px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.774);
    transition: transfor 0.5s;
}